{% block body_ressources %}

<div id="listeRessources">

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Accueil</a></li>
    <li class="breadcrumb-item active" aria-current="page">Liste des ressources</li>
  </ol>
</nav>

  <div class="bgListeRessources">
    <div class="container">
      <h2 class="text-center pt-4"> CONSULTATION DES RESSOURCES</h2>
      <p class="text-center pt-2"> Sur cette page vous pouvez consulter les ressources disponibles. Un système de recherche vous est proposé pour faciliter vos recherches. <br/>
                                    Il vous est également possible de nous soumettre une idée de ressource en cliquant <a class="h5" href="/soumettre-ressource">ici</a>.
      </p>
      <form class="py-5" action="/recherche/" method="get">
        <fieldset>    
          <div class="form-row">
            <div class="form-group col-4">
                <label for="relation" class="col-form-label-lg">Type de relation :</label>
                <select id="relation" class="form-control" aria-label="Default select example" required>
                    <option selected>Open this select menu</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
            </div>

            <div class="form-group col-4">
                <label for="categories" class="col-form-label-lg">Catégories :</label>
                <select id="categories" class="form-control" aria-label="Default select example" required>
                    <option selected>Open this select menu</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
            </div>

            <div class="form-group col-4">
                <label for="types_ressources" class="col-form-label-lg">Type de ressources :</label>
                <select id="types_ressources" class="form-control" aria-label="Default select example" required>
                    <option selected>Open this select menu</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
            </div>
          </div>         

          <button type="submit" class="btn btn-primary btn-lg mb-3">Rechercher</button>

        </fieldset> 
      </form>
    </div>
  </div>

  <div class="card border-dark mb-3 mx-4">
    <h3 class="card-header">Titre de la première ressource</h3>
    <div class="card-body text-dark">
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <p class="card-text text-muted font-italic dateListeRessources"> Publiée le 10 Janvier 1965</p>
    </div>
    <div class="card-footer text-center">
      <a href="/page-ressource" class="btn btn-primary">Voir la ressource</a>
    </div>
  </div>

  <div class="card border-dark mb-3 mx-4">
    <h3 class="card-header">Titre de la seconde ressource</h3>
    <div class="card-body text-dark">
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <p class="card-text text-muted font-italic dateListeRessources"> Publiée le 10 Janvier 1965</p>
    </div>
    <div class="card-footer text-center">
      <a href="/page-ressource" class="btn btn-primary">Voir la ressource</a>
    </div>
  </div>

  <div class="card border-dark mb-3 mx-4">
    <h3 class="card-header">Titre de la troisième ressource</h3>
    <div class="card-body text-dark">
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <p class="card-text text-muted font-italic dateListeRessources"> Publiée le 10 Janvier 1965</p>
    </div>
    <div class="card-footer text-center">
      <a href="/page-ressource" class="btn btn-primary">Voir la ressource</a>
    </div>
  </div>

  <div class="card border-dark mb-3 mx-4">
    <h3 class="card-header">Titre de la quatrième ressource</h3>
    <div class="card-body text-dark">
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <p class="card-text text-muted font-italic dateListeRessources"> Publiée le 10 Janvier 1965</p>
    </div>
    <div class="card-footer text-center">
      <a href="/page-ressource" class="btn btn-primary">Voir la ressource</a>
    </div>
  </div>

  <nav aria-label="pagination liste ressources">
    <ul class="pagination justify-content-center">
      <li class="page-item disabled">
        <a class="page-link" href="#" tabindex="-1">Précédent</a>
      </li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item">
        <a class="page-link" href="#">Suivant</a>
      </li>
    </ul>
  </nav>

</div>
{% endblock %}