{% extends 'layout.html.twig' %}

{% block page_ressources %}
<div id="pageRessources">

    <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Accueil</a></li>
        <li class="breadcrumb-item"><a href="#">Liste des ressources</a></li>
        <li class="breadcrumb-item active" aria-current="page">Ressources</li>
    </ol>
    </nav>

    <div class="container">
        <h2 class="mt-4">Titre de la première ressource</h2>
        <p class="mb-4"> Lorem ipsum dolor sit amet, consectetur adispiscing elit. Nunc maximus, nulla ut commodo sagittis, sapien dui mattis dui, non pulvinar lorem felis nec erat</p>

        <div class="ressource p-2 border border-dark">
            <img class="img-fluid" src="{{ asset('build/images/corona.png') }}" alt="image ressource">
            <p>Ohlalalala attention corona !!</p>
        </div>

        <p class="datePageRessource font-italic">Publiée le 26 Février 2021</p>
    </div>

    <div class="container p-2 mt-5 border border-dark commentaireRessource">
        <div class="row mx-auto">
            <p>NEYMAR Jean</p>
            <div class="rating ml-4">
                <a href="#5" title="Donner 5 étoiles">☆</a>
                <a href="#4" title="Donner 4 étoiles">☆</a>
                <a href="#3" title="Donner 3 étoiles">☆</a>
                <a href="#2" title="Donner 2 étoiles">☆</a>
                <a href="#1" title="Donner 1 étoile">☆</a>
            </div>
            <p class="font-italic mr-0 ml-auto">28 Février 1542</p>
        </div>
        <div class="row">
            <div class="col-10">
                <p>Aaaaah mauvaise blague !! En plus j'ai pas d'antivirus !! ='(((</p>
            </div>
            <div class="col-2 text-center">
                <i class="far fa-thumbs-up"><br/>75</i>
                <i class="far fa-thumbs-down"><br/>124</i>
            </div>
        </div>
        <hr/>
        <div class="row mx-auto">
            <p>COURANT Théo</p>
            <div class="rating ml-4">
                <a href="#5" title="Donner 5 étoiles">☆</a>
                <a href="#4" title="Donner 4 étoiles">☆</a>
                <a href="#3" title="Donner 3 étoiles">☆</a>
                <a href="#2" title="Donner 2 étoiles">☆</a>
                <a href="#1" title="Donner 1 étoile">☆</a>
            </div>
            <p class="font-italic mr-0 ml-auto">16 Juin 3452</p>
        </div>
        <div class="row">
            <div class="col-10">
                <p>AHAHAHAHAHAAH tant pis pour toi.</p>
            </div>
            <div class="col-2 text-center">
                <i class="far fa-thumbs-up"><br/>2</i>
                <i class="far fa-thumbs-down"><br/>3k</i>
            </div>
        </div>
        <hr/>

        <!-- Si citoyen connecté -->
        <form>
            <fieldset>
                <legend>Laissez votre commentaire</legend>
                <div class="form-row">
                    <div class="form-group col-12 col-md-7 row">
                        <label for="pseudoCommentaireRessource" class="col-12 col-md-4 col-lg-3 col-form-label">Votre pseudo :</label>
                        <div class="col-12 col-md-8 col-lg-9">
                            <input type="text" class="form-control" id="pseudoCommentaireRessource">
                        </div>
                    </div>
                    <div class="form-group col-12 col-md-5 row">
                        <label for="pseudoCommentaireRessource" class="col-6 col-sm-3 col-md-6 col-form-label text-md-right">Votre note :</label>
                        <div class="rating col-6 col-sm-9 col-md-6">
                            <a href="#5" title="Donner 5 étoiles">☆</a>
                            <a href="#4" title="Donner 4 étoiles">☆</a>
                            <a href="#3" title="Donner 3 étoiles">☆</a>
                            <a href="#2" title="Donner 2 étoiles">☆</a>
                            <a href="#1" title="Donner 1 étoile">☆</a>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="commentaireRessource" class="col-12 col-md-3 col-xl-2 col-form-label">Votre commentaire :</label>
                    <div class="col-12 col-md-9 col-xl-10">
                        <textarea class="form-control" id="commentaireRessource"></textarea>
                    </div>
                </div>
                <button class="btn btn-primary envoyerCommentaire" type="submit">Envoyer le commentaire</button>
            </fieldset>
        </form>

        <!-- Si citoyen non connecté -->
        <div class="row d-none">
            <div class="col-8 text-center font-weight-bold ">
                <p>Connectez-vous pour laissez un commentaire !</p>
            </div>
            <div class="col-4">
                <button class="btn btn-primary">Se connecter</button>
            </div>
        </div>
    </div>
    <div>
        <br/><br/><br/>
    </div>
</div>





{% endblock %}

{% block footer %}
    {% include 'ressources/_footer.html.twig' %}
{% endblock %}