{% extends 'layout.html.twig' %}

{% block valider_ressources %}

<div id="validerRessources">

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Accueil</a></li>
    <li class="breadcrumb-item"><a href="#">Administration</a></li>
    <li class="breadcrumb-item active" aria-current="page">Valider les ressources</li>
  </ol>
</nav>

<div class="bgValiderRessources pb-3">
    <div class="container">
        <h2 class="text-center pt-4">VALIDER LES RESSOURCES</h2>
        <p class="text-center pt-2"> Sur cette page vous pouvez consulter les ressources les ressources qui ont été proposées par les citoyens.
                                        Libre à vous de les accepter ou de les refuser !
        </p>
    </div>
</div>

<div class="pt-5 container">
  <table class="table table-hover">
    <thead>
      <tr class="table-active">
        <th colspan="4">SOUMISSION DE RESSOURCES</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="col">NOM</th>
        <th scope="col">CATEGORIE</th>
        <th scope="col" class="text-center">VOIR</th>
        <th scope="col" class="text-center">ACCEPTER / REFUSER</th>
      </tr>
      <tr>
        <td>Ressource 1</td>
        <td>Catégorie 1</td>
        <td class="text-center"><a href="/page-ressource" title="Voir la ressource"><i class="fas fa-folder-open"></i></a></td>
        <td class="text-center">
          <a href="#" title="Accepter la ressource" class="mr-4"><i class="fas fa-check"></i></a>
          <a href="#" title="Refuser la ressource" class="ml-4"><i class="fas fa-times"></i></a>
        </td>
      </tr>
      <tr>
        <td>Ressource 2</td>
        <td>Catégorie 1</td>
        <td class="text-center"><a href="/page-ressource" title="Voir la ressource"><i class="fas fa-folder-open"></i></a></td>
        <td class="text-center">
          <a href="#" title="Accepter la ressource" class="mr-4"><i class="fas fa-check"></i></a>
          <a href="#" title="Refuser la ressource" class="ml-4"><i class="fas fa-times"></i></a>
        </td>
      </tr>
      <tr>
        <td>Ressource 3</td>
        <td>Catégorie 2</td>
        <td class="text-center"><a href="/page-ressource" title="Voir la ressource"><i class="fas fa-folder-open"></i></a></td>
        <td class="text-center">
          <a href="#" title="Accepter la ressource" class="mr-4"><i class="fas fa-check"></i></a>
          <a href="#" title="Refuser la ressource" class="ml-4"><i class="fas fa-times"></i></a>
        </td>
      </tr>
    </tbody>
  </table>
  <nav aria-label="pagination valider-ressource">
    <ul class="pagination justify-content-end">
      <li class="page-item disabled">
        <a class="page-link" href="#" tabindex="-1">Précédent</a>
      </li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item">
        <a class="page-link" href="#">Suivant</a>
      </li>
    </ul>
  </nav>
</div>

<div class="py-5 container">
  <table class="table table-hover">
    <thead>
      <tr class="table-active">
        <th colspan="3">SOUMISSION DE CATEGORIES DE RESSOURCES</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="col">NOM</th>
        <th scope="col">DESCRIPTION</th>
        <th scope="col" class="text-center">ACCEPTER / REFUSER</th>
      </tr>
      <tr>
        <td>Catégorie 1</td>
        <td>Description 1</td>
        <td class="text-center">
          <a href="#" title="Accepter la catégorie" class="mr-4"><i class="fas fa-check"></i></a>
          <a href="#" title="Refuser la catégorie" class="ml-4"><i class="fas fa-times"></i></a>
        </td>
      </tr>
      <tr>
        <td>Catégorie 2</td>
        <td>Description 2</td>
        <td class="text-center">
          <a href="#" title="Accepter la catégorie" class="mr-4"><i class="fas fa-check"></i></a>
          <a href="#" title="Refuser la catégorie" class="ml-4"><i class="fas fa-times"></i></a>
        </td>
      </tr>
      <tr>
        <td>Catégorie 3</td>
        <td>Description 2</td>
        <td class="text-center">
          <a href="#" title="Accepter la catégorie" class="mr-4"><i class="fas fa-check"></i></a>
          <a href="#" title="Refuser la catégorie" class="ml-4"><i class="fas fa-times"></i></a>
        </td>
      </tr>
    </tbody>
  </table>
  <nav aria-label="pagination valider-categorie-ressource">
    <ul class="pagination justify-content-end">
      <li class="page-item disabled">
        <a class="page-link" href="#" tabindex="-1">Précédent</a>
      </li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item">
        <a class="page-link" href="#">Suivant</a>
      </li>
    </ul>
  </nav>
</div>


{% endblock %}

{% block footer %}
    {% include 'ressources/_footer.html.twig' %}
{% endblock %}