{% extends 'layout.html.twig' %}

{% block body %}
    <div class="container my-5">
    <h1 class="text-center mb-5">Créer une nouvelle ressource</h1>

    {{ include('ressources/_form.html.twig') }}

    <a href="{{ path('ressources_index') }}"><i class="text-info fas fa-arrow-left fa-3x"></i></a>
    </div>

{% endblock %}
