@import "~bootstrap/scss/bootstrap.scss";
@import "~@fortawesome/fontawesome-free/css/all.css";

@font-face {
  font-family: "Beaufort-Bold";
  src: url("//db.onlinewebfonts.com/t/fe90d2b331edb90ed36369d0c270d5b6.eot");
  src: url("//db.onlinewebfonts.com/t/fe90d2b331edb90ed36369d0c270d5b6.eot?#iefix") format("embedded-opentype"),
  url("//db.onlinewebfonts.com/t/fe90d2b331edb90ed36369d0c270d5b6.woff2") format("woff2"),
  url("//db.onlinewebfonts.com/t/fe90d2b331edb90ed36369d0c270d5b6.woff") format("woff"),
  url("//db.onlinewebfonts.com/t/fe90d2b331edb90ed36369d0c270d5b6.ttf") format("truetype"),
  url("//db.onlinewebfonts.com/t/fe90d2b331edb90ed36369d0c270d5b6.svg#BeaufortW01-Bold") format("svg");
}

body {
  background-color: lightgray;
  /**font-family: 'Beaufort-Bold'**/
}

nav {
  font-size: 20px;
}

.effecthover {
  border-bottom: 2px solid transparent;
  border-top: 2px solid transparent;
  height: 50px;

}

.effecthover:hover {
  border-bottom: 2px solid currentColor;
  border-top: 2px solid currentColor;
  color: darkcyan !important;
  //padding-bottom: 2px;
  height: 50px;
}

.effecthover:hover {
  color: darkcyan !important;
}

.navbar {
  padding: 0;
}

.navbar-brand {

  padding: 0;
  margin: 0 !important;
}

#accroche .btn-create-account:hover {
  color: darkcyan;
  background-color: white;
}

// CSS FOOTER 
#footer .reseau-fb:hover {
    color: #3b5998 !important;
}

#footer .reseau-twitter:hover {
    color: #00acee !important;
}

#footer .reseau-linkedin:hover {
    color: #0e76a8 !important;
}

#footer .reseau-insta:hover {
    color: #e1306c !important;
}

#accroche .container{
  height: 300px;
}

#accroche{
  background-repeat: no-repeat;
  background-image: url('../images/img_fond_accroche.jpg');
}

#accroche .texte-accroche{
  margin-top: 16px !important;
}

#accroche .row{
  padding-top: 70px;
}

// JUMBOTRON
#jumbotron {
    margin : 0;
    padding : 0;
    background : url('../images/jumbotron.png') center;
    height : 500px; 
    background-size : cover;
}
  
#jumbotron .jumbotronTransparent {
    background-color : rgba(255, 255, 255, 0.2); 
    height : 500px;
}
  
#jumbotron .h1Jumbotron {
    text-align : center; 
    padding-top : 70px;
}

