@import "~bootstrap/scss/bootstrap.scss";
@import "~@fortawesome/fontawesome-free/css/all.css";
@font-face {font-family: "Beaufort-Bold";
    src: url("//db.onlinewebfonts.com/t/fe90d2b331edb90ed36369d0c270d5b6.eot");
    src: url("//db.onlinewebfonts.com/t/fe90d2b331edb90ed36369d0c270d5b6.eot?#iefix") format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/fe90d2b331edb90ed36369d0c270d5b6.woff2") format("woff2"),
    url("//db.onlinewebfonts.com/t/fe90d2b331edb90ed36369d0c270d5b6.woff") format("woff"),
    url("//db.onlinewebfonts.com/t/fe90d2b331edb90ed36369d0c270d5b6.ttf") format("truetype"),
    url("//db.onlinewebfonts.com/t/fe90d2b331edb90ed36369d0c270d5b6.svg#BeaufortW01-Bold") format("svg");}
body {
    background-color: lightgray;
    /**font-family: 'Beaufort-Bold'**/
}
nav {
    font-size: 20px;
}
.colorme {
    //color: darkcyan !important;
}
.effecthover {
    border-bottom: 2px solid transparent;
    border-top: 2px solid transparent;
    height: 50px;

}
.effecthover:hover {
    border-bottom: 2px solid currentColor;
    border-top: 2px solid currentColor;
    color: darkcyan !important;
    //padding-bottom: 2px;
    height: 50px;
}
.effecthover:hover {
    color: darkcyan !important;
}
.navbar {
    padding: 0;
}
.navbar-brand {
    padding: 0;
    margin: 0 !important;
}

// PARTIE NEWS
#home_news .medaille-1{
    //color :rgb(202, 148, 1)
}

#home_news .medaille-2{
    color :rgb(124, 124, 124)
}

#home_news .medaille-3{
    color :rgb(204, 94, 4)
}

#home_news .card{
    border-radius: 20%;
    
}

// #home_news .rounded-circle{
//     width: 40;
//     height: 40;
//     color :black;
// }

#home_news .card{
    background-color: black!important;
}