<form method="post" action="{{ path('categories_ressources_delete', {'id': categories_ressource.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ categories_ressource.id) }}">
    <button class="btn">Delete</button>
</form>
