{% block jumbotron %}
<div id="jumbotron">
  <div class="jumbotron">
    <div class="jumbotronTransparent">
      <h1 class="display-5 h1Jumbotron">Bienvenue sur le site des ressources relationnelles</h1>
    </div>
  </div>
</div>
{% endblock %}