{% block news %} 

{# faire une boucle pour afficher les 3 ressources  #}
{# voir pour une comm avec une bdd #}
{# {%set test = "Sébou"%} #}
<div id="home_news" class="pt-5 bg-white" >

  <div class="container-fluid " >
    <h2 align="center" > Les Ressources les plus commentées de la semaine !</h2>

    <div class="row text-center justify-content-center mt-5 pt-5 pb-5">

      {# boucle a partir d ici #}
      <div class="col-3">

        <div>
          <i class="medaille-1 fas fa-medal"></i>
        </div>

        {# border color #}
        <div class="card bg-light" >
      
          <div class="card-body " width=200 height=200>
          
            <h5 class="card-title">Covid</h5>

            <a href="#">  <img class="top-ressource" src="{{ asset('build/images/covid.jpeg') }}" alt="Ressource tendances" height=200 width="320"> </a>
            <!-- <a href="#" class="btn btn-primary">Lien ressource</a>-->
            <div class="text-center">
              <a href="http://localhost:8000/ressources/1" class="btn btn-info mt-3">Accéder à la ressource</a>
            </div>
          </div>
        </div>
      </div>


      {# boucle for fini ici #}
      <div class="col-3" >

        <div>
          <i class="medaille-2 fas fa-medal"></i>
        </div>
        
          <div class="card bg-light" >
          
            <div class="card-body">
              <h5 class="card-title">Bansky</h5>

              <a href="#">  <img class="top-ressource" src="{{ asset('build/images/bansky.jpg') }}" alt="Ressource tendances" height=200 width="320"> </a>
              <!-- <a href="#" class="btn btn-primary">Lien ressource</a> -->
              <div class="text-center">
              <a href="http://localhost:8000/ressources/2" class="btn btn-info mt-3">Accéder à la ressource</a>
              </div>
            </div>
          </div>
      </div>
      

      <div class="col-3">

        <div>
          <i class="medaille-3 fas fa-medal"></i>
        </div>
        
        <div class="card bg-light">
        
          <div class="card-body">
            <h5 class="card-title" >Theta</h5>

            <a href="#">  <img class="top-ressource" src="{{ asset('build/images/theta.jpg') }}" alt="Ressource tendances" height=200 width="320"> </a>
            <!-- <a href="#" class="btn btn-primary">Lien ressource</a> -->
            <div class="text-center">
              <a href="http://localhost:8000/ressources/3" class="btn btn-info mt-3">Accéder à la ressource</a>
            </div>
          </div>
        </div>    
      </div>

    </div>
  </div>  
</div>

{% endblock %}