<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Bienvenu sur le site des ressources relationnelles{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>

    <body>

    <!-- Header -->
    {% block header %}{% endblock %}

    <!-- Home -->
    {% block jumbotron %}{% endblock %}
    {% block news %}{% endblock %}
    {% block accroche %}{% endblock %}

    <!-- Ressources -->
    {% block body_ressources %}{% endblock %}
    {% block soumettre_ressources %}{% endblock %}

    <!-- Footer -->
    {% block footer %}{% endblock %}



    {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>

</html>
